ud4/05.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!ELEMENT Company (Employee)*>
<!ELEMENT Employee (FirstName,LastName,ContactNo,Email,Address)>
<!ELEMENT FirstName (#PCDATA)>
<!ELEMENT LastName (#PCDATA)>
<!ELEMENT ContactNo (#PCDATA)>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT Address (City,State,Zip)>
<!ELEMENT City (#PCDATA)>
<!ELEMENT State (#PCDATA)>
<!ELEMENT Zip (#PCDATA)>

